<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Amigos</title>
		<link rel="stylesheet" href="index.css" media="screen">
	</head>
	<body>
		<div class="div1">
			<h1 class="titulo1" id="ie1t">Cadastro de pessoas</h1><br/>
		</div>
		<form action="/cadastrar-pessoa" method="post" class="form1" id="i6m7">
			<input name="nome" type="text" class="campo" placeholder="Nome" id="in77"/><br/>
			<input name="email" type="text" class="campo" placeholder="Email" id="iqaxv"/><br/>
			<button type="submit" class="campo" id="i4ek9">Cadastrar</button>
		</form>
	</body>
</html>